.EModal {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    pointer-events: none;
    .mask {
        position: fixed;
        width: 100%;
        height: 100%;
        pointer-events: all;
        &.display-background {
            background: rgba(0, 0, 0, 0.1);
        }
    }
    .model-container {
        position: absolute;
        transition: transform 300ms cubic-bezier(0, 0, 0.18, 0.97);
        background: #FFF;
        pointer-events: all;
        &.bottom {
            bottom: 0;
            width: 100%;
            transform: translate3d(0, 100%, 0)
        }
        &.top {
            top: 0;
            width: 100%;
            transform: translate3d(0, -100%, 0)
        }
        &.left {
            left: 0;
            height: 100%;
            width: 80vw;
            transform: translate3d(-100%, 0, 0)
        }
        &.right {
            right: 0;
            height: 100%;
            width: 80vw;
            transform: translate3d(100%, 0, 0)
        }
        &.open {
            transform: translate3d(0, 0, 0)
        }
    }
}