@import '../../scss/main';
.Refresher {
    display: flex;
    @keyframes roll {
        from {
            transform-origin: center;
            transform: rotate(-360deg);
            opacity: 1;
        }

        to {
            transform-origin: center;
            transform: none;
            opacity: 1;
        }
    }
    .spot {
        background: $color-brand-color;
        border-radius: 50%;
        margin: 0 14px;
        width: 40px;
        height: 40px;
        transform: scale(0.25);
        text-align: center;
        color: $color-bg-element;
        display: flex;
        justify-content: center;
        align-items: center;
        &.center {
            z-index: 100;
        }
        .exe.active {
            animation: roll 300ms linear infinite;
        }
        .loader-spot {
            width: 20px;
            height: 20px;
            border-top: 2PX solid rgba(255, 255, 255, 0.4);
            border-right: 2PX solid #ffffff;
            border-bottom: 2PX solid #ffffff;
            border-left: 2PX solid #ffffff;
            border-radius: 50%;
        }
    }
}