.main-container {
    background: #FFF;
    min-height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-container {
    background: #FFF;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-container {
    background: #FFF;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1PX #cacaca;
}