.EActivityIndicator {
  font-size: 10px;
  margin-right: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.2em solid rgba(255, 255, 255, 0.2);
  border-right: 0.2em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.2em solid rgba(255, 255, 255, 0.2);
  border-left: 0.2em solid #ffffff;
  animation: loader 1.0s infinite linear;

  &.inline {
    display: inline-block;
  }

  &,
  &:after {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}