@import "./main.scss";
@import "./animation.scss";
@import "./font/iconfont.scss";
@import "./EButton.scss";
@import "./EActivityIndicator.scss";
@import "./EContent.scss";
@import "./EFooter.scss";
@import "./EModal.scss";
@import "./EPage.scss";
@import "./Refresher.scss";
@import "./ENavbar.scss";
@import "./EOrg.scss";
@import "./ESearch.scss";

.EPage-animation {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    box-shadow: -20px 0 50px rgba($color: #000000, $alpha: 0.2);
    overflow: hidden;
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0, 0, 0.1, 1);
    &.right-in {
        animation-name: EPageRightIn;
    }
    &.right-out {
        animation-name: EPageRightOut;
    }
}